.logo {
  display: flex;
  max-width: max-content;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: #E2B65C;
  font-size: 16px;
  line-height: 24px;
}

.image {
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .logo {
    min-width: max-content;
  }

  footer .image {
    display: none;
  }
}
