.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #111111;
  color: white;
  padding: 24px 0;
  min-height: 88px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 700px) {
  .container {
    flex-wrap: nowrap;
  }
}
