.footer {
  margin-top: auto;
  padding: 56px 0;
  background-color: #111111;
  color: white;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}
