.button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #747474;
  max-width: max-content;
  background-color: transparent;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  min-width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  color: #2D2A2A;
}
