.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
}

.section {
  background-color: white;
  padding: 16px 48px 16px 24px;
  border-radius: 8px;
}

.title {
  padding-bottom: 8px;
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 16px !important;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  display: flex;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 8px;
}

.listItem:hover {
  color: #E2B65C;
}

@media screen and (min-width: 600px) {
  .list {
    column-count: 2;
  }
}

@media screen and (min-width: 1100px) {
  .list {
    column-count: 3;
  }
}

@media screen and (min-width: 1100px) {
  .list {
    column-count: 4;
  }
}
